header
    .header     
        ul.nav
            li.nav__item 
                a.nav__links(href = "#") 1
            li.nav__item 
                a.nav__links(href = "#") 2
            li.nav__item 
                a.nav__links(href = "#") 3    